@import "../../../src/global-styling/design-tokens.css";

div {
  display: inline-block;
}

.statusbadge-icon {
  height: 16px;
  width: 16px;
  align-items: center;
  border-radius: 5px;
  margin-right: 8px;
}

.statusbadge-text {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  padding: 10px;
  border-radius: var(--statusbadge-radius-default);
}

.statusbadge-light {
  color: var(--statusbadge-light-text);
  background-color: var(--statusbadge-light-surface);
  border: 1.5px solid var(--statusbadge-light-border);
}

.statusbadge-dark {
  color: var(--statusbadge-dark-text);
  background-color: var(--statusbadge-dark-surface);
  border: 1.5px solid var(--statusbadge-dark-border);
}

.statusbadge-success {
  background-color: var(--statusbadge-icon-success);
}

.statusbadge-warning {
  background-color: var(--statusbadge-icon-warning);
}

.statusbadge-destructive {
  background-color: var(--statusbadge-icon-destructive);
}

.statusbadge-primary {
  background-color: var(--statusbadge-icon-primary);
}

.statusbadge-secondary {
  background-color: var(--statusbadge-icon-secondary);
}

.statusbadge-orchid {
  background-color: var(--statusbadge-icon-orchid);
}
