@import "../../../src/global-styling/design-tokens.css";
/* Switch.module.css */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--surface-default);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switchInput:checked + .slider {
  background-color: var(--surface-default);
}

.switchInput:focus + .slider {
  box-shadow: 0 0 1px var(--surface-default);
}

.switchInput:checked + .slider:before {
  transform: translateX(26px);
}

.light {
  --surface-default: var(--switch-light-surface-default);
  --border-default: var(--switch-light-border-default);
  --text-default: var(--switch-light-default-text);
}

.dark {
  --surface-default: var(--switch-dark-surface-default);
  --border-default: var(--switch-dark-border-default);
  --text-default: var(--switch-dark-default-text);
}

.error {
  --text-default: var(--switch-light-error-text);
}

/* Additional styles for different switch sizes */
.switch-base {
  width: 60px;
  height: 34px;
}

.switch-small {
  width: 40px;
  height: 24px;
}
