@import "../../../src/global-styling/design-tokens.css";

.avatar-light {
  background-color: var(--avatar-light-surface);
  border: 1.5px solid var(--avatar-light-border);
  color: var(--avatar-light-text);
}
.avatar-dark {
  background-color: var(--avatar-dark-surface);
  border: 1.5px solid var(--avatar-dark-border);
  color: var(--avatar-dark-text);
}
.avatar-light-letters {
  background-color: var(--avatar-light-surface-letters);
  border: 1.5px solid var(--avatar-light-border-letters);
  color: var(--avatar-light-text-letters);
}
.avatar-light-image {
  background-color: var(--avatar-light-surface-image);
  border: 1.5px solid var(--avatar-light-border-image);
  color: var(--avatar-light-text-image);
}
.avatar-light-icon {
  background-color: var(--avatar-light-surface-icon);
  border: 1.5px solid var(--avatar-light-border-icon);
  color: var(--avatar-light-text-icon);
}
.avatar-dark-letters {
  background-color: var(--avatar-dark-surface-letters);
  border: 1.5px solid var(--avatar-dark-border-letters);
  color: var(--avatar-dark-text-letters);
}
.avatar-dark-image {
  background-color: var(--avatar-dark-surface-image);
  border: 1.5px solid var(--avatar-dark-border-image);
  color: var(--avatar-dark-text-image);
}
.avatar-dark-icon {
  background-color: var(--avatar-dark-surface-icon);
  border: 1.5px solid var(--avatar-dark-border-icon);
  color: var(--avatar-dark-text-icon);
}

.avatar-2xsmall {
  padding-top: var(--avatar-py-small);
  padding-bottom: var(--avatar-py-small);
  padding-left: var(--avatar-px-small);
  padding-right: var(--avatar-px-small);
}
.avatar-xsmall {
  padding-top: var(--avatar-py-xsmall);
  padding-bottom: var(--avatar-py-xsmall);
  padding-left: var(--avatar-px-xsmall);
  padding-right: var(--avatar-px-xsmall);
}
.avatar-small {
  padding-top: var(--avatar-py-small);
  padding-bottom: var(--avatar-py-small);
  padding-left: var(--avatar-px-small);
  padding-right: var(--avatar-px-small);
}
.avatar-base {
  padding-top: var(--avatar-py-base);
  padding-bottom: var(--avatar-py-base);
  padding-left: var(--avatar-px-base);
  padding-right: var(--avatar-px-base);
}
.avatar-large {
  padding-top: var(--avatar-py-large);
  padding-bottom: var(--avatar-py-large);
  padding-left: var(--avatar-px-large);
  padding-right: var(--avatar-px-large);
}
.avatar-xlarge {
  padding-top: var(--avatar-py-xlarge);
  padding-bottom: var(--avatar-py-xlarge);
  padding-left: var(--avatar-px-xlarge);
  padding-right: var(--avatar-px-xlarge);
}
.avatar-rounded {
  border-radius: var(--avatar-radius-default);
  display: inline-block;
}
.avatar-squared {
  border-radius: var(--avatar-radius-curved);
  display: inline-block;
}
