@import "../../../src/global-styling/design-tokens.css";

.tooltip {
  display: inline-block;
  border-radius: 10px;
  padding-left: var(--tooltip-main-px);
  padding-right: var(--tooltip-main-px);
  padding-top: var(--tooltip-main-py);
  padding-bottom: var(--tooltip-main-py);
}

.strokebox {
  display: inline-block;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: var(--tooltip-keystroke-px);
  padding-right: var(--tooltip-keystroke-px);
  padding-top: var(--tooltip-keystroke-py);
  padding-bottom: var(--tooltip-keystroke-py);
}

.tooltip-light {
  background-color: var(--tooltip-light-main-surface);
  color: var(--tooltip-light-main-text);
  border: 2px solid var(--tooltip-light-main-border);
}

.tooltip-dark {
  background-color: var(--tooltip-dark-main-surface);
  color: var(--tooltip-dark-main-text);
  border: 2px solid var(--tooltip-dark-main-border);
}

.keystroke-light {
  background-color: var(--tooltip-light-keystroke-surface);
  color: var(--tooltip-light-keystroke-text);
  border: 2px solid var(--tooltip-light-keystroke-border);
}

.keystroke-dark {
  background-color: var(--tooltip-dark-keystroke-surface);
  color: var(--tooltip-dark-keystroke-text);
  border: 2px solid var(--tooltip-dark-keystroke-border);
}
